*{
    margin: 10px 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.header{
    width: auto;
    background-color: white;
    margin: 10px auto;
}

    /* Dropdown Button */
    .dropbtn {
        background-color: white;
        color: black;
        font-size: 14px;
        padding: 10px;
        margin-right: auto;
        border: none;
        cursor: pointer;
    }
    
    /* Dropdown button on hover & focus */
    .dropbtn:hover, .dropbtn:focus {
        background-color: #fff952;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 10px;
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #fff952}
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}

    img{
        vertical-align: top;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .search-bar input[type=text] {
        width: 800px;
        padding: 6px;
        border: 1px solid black;
        margin: 50px auto;
        font-size: 24px;
        }

.main {
    background-color: rgb(241, 241, 241);
    width: 100%;
}

.subcontent{
    width: 500px;
    height: 500px;
    display: inline-block;
    margin: 20px 20px;
}

.footer{
    width: 100%;
    background-color: white;
}