*{
    margin: 10px 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.header{
    width: auto;
    background-color: white;
    margin: 10px auto;
}

    .logo {
        vertical-align: top;
        display: inline-block;
        margin-left: 290px;
        margin-right: auto;
        padding-bottom: 20px;
    }

    #login {
        text-decoration: none;
        background-color: white;
        font-size: 18px;
        display: inline-block;
        margin-top: 30px;
        margin-left: 130px;
        color: black;
    }

    #account {
        text-decoration: none;
        background-color: white;
        font-size: 18px;
        display: inline-block;
        margin-top: 30px;
        margin-left: 0px;
        color: black;
    }

    .search-bar input[type=text] {
        width: 800px;
        height: 35px;
        padding: 6px;
        border: 1px solid black;
        margin: 50px auto;
        font-size: 18px;
        }

    #search-button {
        font-size: 18px;
        background-color: #fff952;
        padding: 0px 5px;
        height: 50px;
        margin-left: 10px;
    }

.main {
    background-color: rgb(241, 241, 241);
    width: 100%;
}

.subcontent{
    width: 500px;
    height: 500px;
    display: inline-block;
    margin: 20px 20px;
}

.footer{
    width: 100%;
    background-color: white;
}