<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
    <title>Edit Account - Neighborhood IQ</title>
</head>
<body>
    <div class="container">
        <a id="home" class="btn-top" href="/">Home</a>
        <a href="/"><img src = "{{ url_for('static', filename='img/logo.png') }}"></a>
        <a id="logout" class="btn-top" href="/logout">Logout</a>
        <header>
            <h1>Edit My Account</h1>
        </header>
        <section>
            <form action="/myaccount/{{ user.id }}/edit" method="post">
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input class="form-control" type="text" name="first_name" value="{{ user.first_name }}">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input class="form-control" type="text" name="last_name" value="{{ user.last_name }}">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" type="text" name="email" value="{{ user.email }}">
                </div>
                <input class="btn-update" type="submit" value="Update">
            </form>
        </section>
    </div>
</body>
</html>