<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neighborhood IQ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}} "></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/node.js')}} "></script>
</head>
<body>
    <div class="header">
        <img class="logo" src = "{{ url_for('static', filename='img/logo.png') }}">
        <a id="login" class="links-header" href="/login">Login</a> | <a id="account" class="links-header" href="/saves">Dashboard</a>
        <br>
        <h1>Find Your <br>Dream Neighborhood:</h1>
        <div class = "search-bar"><input type="text" placeholder="City, State">
            <button id = "search-button" class = "search">Search</button>
        </div>
    </div>
    <div class="main">
        <br>    
        <br>
        <h1>Your home is more than just 
            <br>the building you live in.</h1>
        <br>
        <h3>It's also your neighborhood: the restaurants, bars, and businesses near you.</h3>
        <br>
        <div class="subcontent">
            <a href="/"><img class="img-main" src = "{{ url_for('static', filename='img/eat.png') }}" height="500" width="500"></a>
        </div> 
        <div class="subcontent">
            <a href="/"><img class="img-main" src = "{{ url_for('static', filename='img/drink.png') }}" height="500" width="500"></a>
        </div>
        <div class="subcontent">
            <a href="/"><img class="img-main" src = "{{ url_for('static', filename='img/shop.png') }}" height="500" width="500"></a>
        </div>
        <div class="subcontent">
            <a href="/"><img class="img-main" src = "{{ url_for('static', filename='img/pamper.png') }}" height="500" width="500"></a>
        </div>
    </div>
    <div class="footer">
        <br>
        <p>Copyright 2019 Neighborhood IQ</p>
    </div>
</body>
</html>