<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neighborhood IQ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="header"></div>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Menu</button>
            <div id="myDropdown" class="dropdown-content">
            <a href="/search">Search</a>
            <a href="/myaccount">My Account</a>
            <a href="/search">My Saves</a>
            </div>
        </div>
        <img src = "{{ url_for('static', filename='img/logo.png') }}">
        <a id="login" class="btn btn-primary float-right" href="/login">Login</a>
        <br>
        <h1>Find Your Dream Neighborhood</h1>
        <div class = "search-bar"><input type="text" placeholder="City, State"></div>
    <hr>
    <div class="main"></div>
        <br>    
        <h1>Your home is more than just the building you live in.</h1>
        <br>
        <h3>It's also your neighborhood: the restaurants, bars, and businesses near you.</h3>
        <br>
        <div class="subcontent"></div>
        <div class="subcontent"></div>
        <div class="subcontent"></div>
        <div class="subcontent"></div>
    <hr>
    <div class="footer"></div>
</body>
</html>