<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/saves.css') }}">
    <title>Your Saves</title>
</head>
<body>
    <div class="savescontainer">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="error">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <header>
            <h3>{{user.first_name}}'s Favorite Restaurants, Bars, and Businesses</h3>
            <div class="links-saves">
                <a id="edit" class="btn btn-primary float-right" href="/myaccount/{{ user.id }}">Edit My Account</a>
                <a id="logout" class="btn btn-primary float-right" href="/logout">Logout</a>
            </div>
        </header>
        <br>
        <div class="saves">
            <section class="boxes">
                <h2>Saved Businesses</h2>
                {% for business in businesses %}
                    <section class="individ-save">
                        <p><strong>{{ business.info }}</strong></p>
                        <p>{{ business.num_saves }} people have saved this business as well.</p>
                    {% if business.user_id == user.id %}
                        <a href="/unsave/{{ business.id }}">Unsave</a>
                    {% endif %}
                    </section>
                {% endfor %}
            </section>
        </div>
    </div>
</body>
</html>