<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/saves.css') }}">
    <title>My Saves</title>
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li class="error">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <header>
            <img class="logo" src = "{{ url_for('static', filename='img/logo.png') }}">
            <a id="edit" class="links-header" href="/myaccount/{{ user.id }}">Account</a> | <a id="logout" class="links-header" href="/logout">Logout</a>
        </header>
        <h3>{{user.first_name}}'s Favorite Restaurants, Bars, and Businesses</h3>
        <br>
        <div class="saves">
            <section class="boxes">
                <h2>Saved Businesses:</h2>
                {% for business in businesses %}
                    <section class="individ-save">
                        <p><strong>{{ business.info }}</strong></p>
                        <p>{{ business.num_saves }} people have saved this business as well.</p>
                    {% if business.user_id == user.id %}
                        <a href="/unsave/{{ business.id }}">Unsave</a>
                    {% endif %}
                    </section>
                {% endfor %}
            </section>
        </div>
    </div>
</body>
</html>